@model ShirazTronic.Models.ViewModels.VmShoppingCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header shoppingCart-header">
            <h4>Shopping Cart</h4>
        </div>
        <div class="card-body">
            @{
                bool isExist = Model.ShoppingCartItems != null && Model.ShoppingCartItems.Count() > 0;
            }
            @if (isExist)
            {
                foreach (ShoppingCart item in Model.ShoppingCartItems)
                {
                    <div class="container">
                        <div class="row h-divider">
                            @{
                                var imageAddr = item.Product.Images.Count() > 0 ? item.Product.Images.First().ImageAddr : "";
                            }
                            <div class="col-md-2 col-sm-6 text-center"><img src="@imageAddr" alt="Item Image" class="cart-item-image" /></div>
                            <div class="col-md-5 col-sm-6">
                                <h5> @item.Product.Title</h5>

                                <p>@item.Product.ShortDescription</p>
                            </div>
                            <div class="col-md-2 text-center cart-item-price">
                                $@item.Product.UnitPrice
                            </div>
                            <div class="col-md-2 text-center cart-item-plus-minus">
                                <div class="cart-item-plus-minus">
                                    <a asp-action="cartChange" asp-route-cartId="@item.Id" asp-route-task="dec"><i class="far fa-minus-square"></i></a><span>@item.Count</span>  <a asp-action="cartChange" asp-route-cartId="@item.Id" asp-route-task="inc"><i class="far fa-plus-square"></i></a>
                                </div>
                            </div>
                            <div class="col-md-1 text-center cart-item-trash">
                                <a asp-action="cartChange" asp-route-cartId="@item.Id" asp-route-task="rem">  <i class="fas fa-trash"></i></a>
                            </div>

                        </div>

                    </div>
                }
                <div class="row mt-4">
                    <div class="col-lg-8 col-sm-6">
                        <div class="form-group">
                            <a class="hyper-btn" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <div class="learn-more">
                                    <span class="circle" aria-hidden="true">
                                        <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text">Continue Shopping...</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group form-row">
                            <label asp-for="MemOrder.Total" class="col-form-label"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="MemOrder.Total" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="no-item text-center">No items added to the cart yet...</div>
            }
        </div>
        <div class="card-footer text-muted">
            <div class="row d-flex justify-content-end">
                @if (isExist)
                {
                    <a class="btn btn-summary" asp-action="Summary">Summary <i class="fas fa-arrow-right"></i></a>
                }

            </div>
        </div>
    </div>
</div>
