@model ShirazTronic.Models.ViewModels.VmShoppingCart
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://js.stripe.com/v3/"></script>
<div class="container">
    <form asp-action="Checkout">
        <input type="hidden" asp-for="MemOrder.UserId" />
        <div class="card">
            <div class="card-header">
                <h5>Summary</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h4>Customer Infos :</h4>
                        <div class="form-group row">
                            <label asp-for="MemOrder.CustomerName" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="MemOrder.CustomerName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="MemOrder.CuctomerPhoneNumber" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="MemOrder.CuctomerPhoneNumber" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <label asp-for="MemOrder.AdditionalInfos" class="col-form-label"></label>
                            <textarea asp-for="MemOrder.AdditionalInfos" class="form-control" cols="50" rows="3" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Shopping Summary :</h4>

                        <div class="card">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Unit Price</th>
                                        <th scope="col">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int rowNumber = 1;
                                    }
                                    @foreach (var item in Model.ShoppingCartItems)
                                    {
                                        <tr>
                                            <th scope="row">@rowNumber</th>
                                            <td>@item.Product.Title</td>
                                            <td>@item.Product.UnitPrice</td>
                                            <td>@item.Count</td>
                                        </tr>
                                        rowNumber++;
                                    }
                                </tbody>
                            </table>
                            <div class="card-footer">
                                Total : @Model.MemOrder.Total
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a class="btn btn-summary" asp-action="Index"><i class="fas fa-arrow-left"></i> Shopping Cart</a>
                <a class="btn btn-summary" id="checkOut" href="">Checkout <i class="fas fa-credit-card"></i></a>
            </div>
        </div>
    </form>
</div>
@section Scripts
    {
    <script type="text/javascript">
       
        var stripe = Stripe('pk_test_51HQr25GGelM299yxAlK7zdZXF3lxFHRqdOczDVitXei3aY7GI47WOK5Vfz57pv7dPgEkJLxIeJlDcqOdaJUo8HRL00ZKaWxli9');
        var checkoutButton = document.getElementById('checkOut');
        checkoutButton.addEventListener('click', function () {
            showLoading();
            fetch('/create-checkout-session', {
                method: 'POST',
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>
}


