@page
@model ShirazTronic.Areas.Identity.Pages.Account.Manage.ShoppingHistoryModel
@{
    ViewData["Title"] = "Shopping History";
    ViewData["ActivePage"] = ManageNavPages.ShoppingHistory;
}

<div class="container">
    <h4>@ViewData["Title"]</h4>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <table class="table table-bordered table-striped custom-data-table">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Total</th>
                <th scope="col">Order Status</th>
                <th scope="col">Transaction Serial</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MemOrders)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Total</td>
                    <td>@item.OrderStatus</td>
                    <td>@item.TransactionId</td>
                    <td><i class="fas fa-info-circle" style="color:palevioletred;cursor:pointer;font-size:1.2rem"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
