@model ShirazTronic.Models.ViewModels.VmCustomerProducts
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/jqueryUi/jqueryUi.css" rel="stylesheet" />
<section id="product-list" class="product-list section-bg">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Filter
                    </div>
                    <div class="accordion" id="filterMenu">
                        <div class="card accordion-item">
                            <div class="card-header accordion-item-header" id="1">
                                <div class="accordion-item-header-clickable" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapse">
                                    <div>
                                        <a class="btn btn-link text-left" type="button">
                                            Termination Style
                                        </a>
                                    </div>
                                    <div class="accordion-item-icon"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="1" data-parent="#filterMenu">
                                <div class="card-body filterMenu-list">
                                    <ul class="filterMenu-list-items">
                                        <li><input class="form-check-input" type="checkbox" />Axial</li>
                                        <li><input class="form-check-input" type="checkbox" /> Axial Ribbon</li>
                                        <li><input class="form-check-input" type="checkbox" /> Connector</li>
                                        <li><input class="form-check-input" type="checkbox" /> DIP</li>
                                        <li><input class="form-check-input" type="checkbox" /> Insert Threaded</li>
                                        <li><input class="form-check-input" type="checkbox" /> Lug</li>
                                        <li><input class="form-check-input" type="checkbox" /> Microstrip</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <div class="card-header accordion-item-header" id="2">
                                <div class="accordion-item-header-clickable" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls="collapse">
                                    <div>
                                        <a class="btn btn-link text-left" type="button">
                                            Capacitance
                                        </a>
                                    </div>
                                    <div class="accordion-item-icon"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                            <div id="collapsetwo" class="collapse" aria-labelledby="2" data-parent="#filterMenu">
                                <div class="card-body filterMenu-list">
                                    <ul class="filterMenu-list-items">
                                        <li><input class="form-check-input" type="checkbox" /> 0.011 pF</li>
                                        <li><input class="form-check-input" type="checkbox" /> 0.012 pF</li>
                                        <li><input class="form-check-input" type="checkbox" /> 0.014 pF</li>
                                        <li><input class="form-check-input" type="checkbox" /> 0.015 pF</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <div class="card-header accordion-item-header" id="3">
                                <div class="accordion-item-header-clickable" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapse">
                                    <div>
                                        <a class="btn btn-link text-left" type="button">
                                            Voltage Rating DC
                                        </a>
                                    </div>
                                    <div class="accordion-item-icon"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>

                            <div id="collapsethree" class="collapse" aria-labelledby="3" data-parent="#filterMenu">
                                <div class="card-body filterMenu-list">
                                    <ul class="filterMenu-list-items">
                                        <li><input class="form-check-input" type="checkbox" /> 2 VDC</li>
                                        <li><input class="form-check-input" type="checkbox" /> 2.1 VDC</li>
                                        <li><input class="form-check-input" type="checkbox" /> 2.3 VDC</li>
                                        <li><input class="form-check-input" type="checkbox" /> 2.5 VDC</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <div class="card-header accordion-item-header" id="4">
                                <div class="accordion-item-header-clickable" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapse">
                                    <div>
                                        <a class="btn btn-link text-left" type="button">
                                            Diameter
                                        </a>
                                    </div>
                                    <div class="accordion-item-icon"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>

                            <div id="collapsefour" class="collapse" aria-labelledby="4" data-parent="#filterMenu">
                                <div class="card-body filterMenu-list">
                                    <ul class="filterMenu-list-items">
                                        <li><input class="form-check-input" type="checkbox" /> 1.9 mm </li>
                                        <li><input class="form-check-input" type="checkbox" /> 2 mm</li>
                                        <li><input class="form-check-input" type="checkbox" /> 3 mm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <div class="card-header accordion-item-header" id="4">
                                <div class="accordion-item-header-clickable" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapse">
                                    <div>
                                        <a class="btn btn-link text-left" type="button">
                                            Mounting Style
                                        </a>
                                    </div>
                                    <div class="accordion-item-icon"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>

                            <div id="collapsefour" class="collapse" aria-labelledby="4" data-parent="#filterMenu">
                                <div class="card-body filterMenu-list">
                                    <ul class="filterMenu-list-items">
                                        <li><input class="form-check-input" type="checkbox" /> Bracket Mount</li>
                                        <li><input class="form-check-input" type="checkbox" /> Cable Mount</li>
                                        <li><input class="form-check-input" type="checkbox" /> Chassis</li>
                                        <li><input class="form-check-input" type="checkbox" /> Chassis Mount</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <div class="row">
                    @if (Model.Category != null)
                    {
                        if (Model.Category.SubCategories.Count > 0)
                        {
                            foreach (var subCat in Model.Category.SubCategories)
                            {
                                string imgSrc = "";
                                if (subCat.Picture.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(subCat.Picture);
                                    imgSrc = string.Format("data:image/jpeg;base64,{0}", base64);
                                }
                                <div class="col-lg-3 col-sm-6">
                                    <div class="sub-cat-collection-item">
                                        <img src="@imgSrc" class="img-fluid" alt="">
                                        <div class="sub-cat-collection-info">
                                            <a asp-action="Index" asp-route-subCatId="@subCat.Id">
                                                <h3>@subCat.Title</h3>
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            string message = "No product in this category...";
                            <partial name="_No_Item" model="@message" />
                        }
                    }
                    else
                    {
                        if (Model.Products.Count() > 0)
                        {
                            foreach (var product in Model.Products)
                            {
                                <div class="col-lg-3 col-sm-6 d-flex align-items-stretch">
                                    <div class="product-list-item aos-init aos-animate" data-aos="fade-up">
                                        <div class="product-list-item-img">
                                            @{
                                                string imageAddr = "";
                                                if (product.Product.Images.Count() > 0)
                                                    imageAddr = product.Product.Images.ElementAt(0).ImageAddr;
                                            }
                                            <img src="@imageAddr" class="img-fluid" alt="">
                                            <div class="extra-link">
                                                <a id="btnAddToCart_@product.ProductId">
                                                    <i class='bx bxs-cart-add'></i>
                                                </a>
                                                <a asp-action="SelProduct" asp-route-pId="@product.ProductId">
                                                    <i class='bx bx-show-alt'></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-list-item-info">
                                            <h4>@product.Product.Title</h4>
                                            <span>@product.Product.ShortDescription</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            string message = "No product in this category...";
                            <partial name="_No_Item" model="@message" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".accordion-item-header-clickable").click(function (e) {
                e.stopPropagation();
                var check = $(this).attr('aria-expanded');
                var bool = check == 'true';
                var parent = $(this).parent().next('div');
                if (bool) {
                    $(this).attr('aria-expanded', 'false');
                    $(this).addClass('collapsed');
                    parent.removeClass('show')

                }
                else {
                    $(this).attr('aria-expanded', 'true');
                    $(this).removeClass('collapsed');
                    parent.addClass('show');
                }

            });
            $('[id ^= "btnAddToCart_"]').click(function () {
                console.log('asd');
            });
        })

    </script>
}

