@model ShirazTronic.Models.ViewModels.VmCustomerProducts
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/jqueryUi/jqueryUi.css" rel="stylesheet" />
<section id="product-list" class="product-list section-bg">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="card">
                    @{string filterBy = ""; }
                    @if (Model.SubCategory != null)
                    {
                        filterBy = Model.SubCategory.Id.ToString();
                    }

                    <div class="card-header d-flex justify-content-between" filterBy="@filterBy">
                        Filter  @*<a class="btn btn-outline-info float-right btn-sm">Show All</a>*@<a id="showall-pr" class="badge badge-secondary btn-badge">Show All</a>
                    </div>
                    <div class="accordion" id="filterMenu">
                        @if (Model.SubCategory != null)
                        {
                            string expanded = "true";
                            string show = "show";
                            @foreach (var subCatSpec in Model.SubCategory.SubCatSpecifications)
                            {
                                <div class="card accordion-item">
                                    <div class="card-header accordion-item-header" id="1">
                                        <div class="accordion-item-header-clickable" data-toggle="collapse" data-target="#collapseOne" aria-expanded="@expanded" aria-controls="collapse">
                                            <div>
                                                <a class="btn btn-link text-left" type="button">
                                                    @subCatSpec.Specification.Title
                                                </a>
                                            </div>
                                            <div class="accordion-item-icon"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="collapse @show" aria-labelledby="1" data-parent="#filterMenu">
                                        <div class="card-body filterMenu-list">
                                            <ul class="filterMenu-list-items" specsrl="@subCatSpec.SpecificationId">
                                                @foreach (var specVal in subCatSpec.Specification.SpecificationValues)
                                                {
                                                    <li><input class="form-check-input" type="checkbox" specValsrl="@specVal.Id" />@specVal.Value</li>

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                expanded = "false";
                                show = "";
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <div class="row" id="grid">
                    @if (Model.Category != null)
                    {
                        if (Model.Category.SubCategories.Count > 0)
                        {
                            foreach (var subCat in Model.Category.SubCategories)
                            {
                                string imgSrc = "";
                                if (subCat.Picture.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(subCat.Picture);
                                    imgSrc = string.Format("data:image/jpeg;base64,{0}", base64);
                                }
                                <div class="col-lg-3 col-sm-6">
                                    <div class="sub-cat-collection-item">
                                        <img src="@imgSrc" class="img-fluid" alt="">
                                        <div class="sub-cat-collection-info">
                                            <a asp-action="Index" asp-route-subCatId="@subCat.Id">
                                                <h3>@subCat.Title</h3>
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            string message = "No product in this category...";
                            <partial name="_No_Item" model="@message" />
                        }
                    }
                    else
                    {
                        if (Model.Products.Count() > 0)
                        {
                            <partial name="_ProductPartial" model="@Model.Products" />
                        }
                        else
                        {
                            string message = "No product in this category...";
                            <partial name="_No_Item" model="@message" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
           
            $(".accordion-item-header-clickable").click(function (e) {
                e.stopPropagation();
                var check = $(this).attr('aria-expanded');
                var bool = check == 'true';
                var parent = $(this).parent().next('div');
                if (bool) {
                    $(this).attr('aria-expanded', 'false');
                    $(this).addClass('collapsed');
                    parent.removeClass('show')

                }
                else {
                    $(this).attr('aria-expanded', 'true');
                    $(this).removeClass('collapsed');
                    parent.addClass('show');
                }

            });
            $('#showall-pr').click(function () {
                $('[specvalsrl]:checked').each(function () {
                    $(this).prop('checked', false);

                });
                resetPl();
            });
            //$('[id ^= "btnAddToCart_"]').click(function () {
            //    var pId = $(this).attr('id').split("_")[1];
            //    console.log(pId);
            //    $.ajax({

            //        method: 'POST',
            //        url: '/Customer/Product/AddToCart',
            //        data: { productId: pId },
            //        error: function () {
            //            console.log('error');
            //        }
            //    }).done(function () { }).fail(function () {
            //        window.location = "/Identity/Account/Login";
            //    })
              
            //});
        })

    </script>
}

