@model Product
@{
    ViewData["Title"] = "SelectedProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="custom-product-background" style="background-color:white">
    <div style="width:80%">
        <div class="form-group row">
            <div class="col-lg-6 col-md-6" style="padding: 0px 65px">
                <div class="slickSlideri">
                    @foreach (var image in Model.Images)
                    {
                        <div><img src="@image.ImageAddr" /></div>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex flex-column justify-content-start">
                <div>
                    <h2>@Model.Title (in Stock: @Model.StockQuantity)</h2>
                    <ul>
                        @foreach (var spec in Model.ProductSpecification)
                        {
                        <li><h6> @spec.SpecificationValue.Specification.Title :<i> @spec.SpecificationValue.Value</i></h6></li>
                        }
                       
                    </ul>
                </div>
                <div>
                    <a class="btn btn-info text-white"><i class="fas fa-cart-plus"></i> ADD TO CART</a>
                    <a class="btn btn-success text-white"><i class="fas fa-bell"></i> Notify Me</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="col" class="attr-col">Specification</th>
                            <th scope="col" class="attr-value-col">Value</th>
                        </tr>
                        @foreach (var spec in Model.ProductSpecification)
                        {
                            <tr>
                                <td>
                                    @spec.SpecificationValue.Specification.Title
                                </td>
                                <td>
                                    @spec.SpecificationValue.Value
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th id="quantitycolhdr" scope="col" class="text-right">Qty.</th>
                            <th id="unitpricecolhdr" scope="col" class="text-right">Unit Price</th>
                            <th id="extpricecolhdr" scope="col" class="text-right ext-price-col" aria-label="Extended Price">
                                <div>Ext. Price</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-right pricebreak-col" id="pricebreakqty_1" headers="quantitycolhdr">
                                <a id="PricingQtyId_1" href="javascript:SelectQuantity(1);">1</a>
                            </th>
                            <td class="text-right" headers="pricebreakqty_1 unitpricecolhdr">
                                8,68 €
                            </td>
                            <td class="text-right ext-price-col" headers="pricebreakqty_1 extpricecolhdr">
                                8,68 €
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right pricebreak-col" id="pricebreakqty_10" headers="quantitycolhdr">
                                <a id="PricingQtyId_10" href="javascript:SelectQuantity(10);">10</a>
                            </th>
                            <td class="text-right" headers="pricebreakqty_10 unitpricecolhdr">
                                8,30 €
                            </td>
                            <td class="text-right ext-price-col" headers="pricebreakqty_10 extpricecolhdr">
                                83,00 €
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right pricebreak-col" id="pricebreakqty_25" headers="quantitycolhdr">
                                <a id="PricingQtyId_25" href="javascript:SelectQuantity(25);">25</a>
                            </th>
                            <td class="text-right" headers="pricebreakqty_25 unitpricecolhdr">
                                7,17 €
                            </td>
                            <td class="text-right ext-price-col" headers="pricebreakqty_25 extpricecolhdr">
                                179,25 €
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right pricebreak-col" id="pricebreakqty_100" headers="quantitycolhdr">
                                <a id="PricingQtyId_100" href="javascript:SelectQuantity(100);">100</a>
                            </th>
                            <td class="text-right" headers="pricebreakqty_100 unitpricecolhdr">
                                6,98 €
                            </td>
                            <td class="text-right ext-price-col" headers="pricebreakqty_100 extpricecolhdr">
                                698,00 €
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right pricebreak-col" id="pricebreakqty_250" headers="quantitycolhdr">
                                <a id="PricingQtyId_250" href="javascript:SelectQuantity(250);">250</a>
                            </th>
                            <td class="text-right" headers="pricebreakqty_250 unitpricecolhdr">
                                6,23 €
                            </td>
                            <td class="text-right ext-price-col" headers="pricebreakqty_250 extpricecolhdr">
                                1.557,50 €
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.slickSlideri').slick({
                dots: true,
                infinite: true,
                speed: 300,
                fade: true,
                cssEase: 'linear'
            });

        });

    </script>
}
